node-red-data-helper/flows.json
[
    {
        "id": "b8ff6b3eb8881b12",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "61e49a8dc69f1a76",
        "type": "mqtt-broker",
        "name": "Mosquitto",
        "broker": "mqtt-broker",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "cc58a9d9903a1c71",
        "type": "modbus-client",
        "name": "Modbus TCP Server",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "python-modbus-simulation",
        "tcpPort": 502,
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": 9600,
        "serialDatabits": 8,
        "serialStopbits": 1,
        "serialParity": "none",
        "serialConnectionDelay": 100,
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 1,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true,
        "showErrors": false,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "eced995786eb957a",
        "type": "modbustcp-server",
        "name": "ModbusTCPServer",
        "host": "python-modbus-simulation",
        "port": 502,
        "unit_id": 1,
        "reconnecttimeout": ""
    },
    {
        "id": "c015ce0f8fb8a995",
        "type": "mqtt-broker",
        "name": "Mosquitto",
        "broker": "mqtt-broker",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "Valami",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "275f2703e015244c",
        "type": "modbustcp-read",
        "z": "b8ff6b3eb8881b12",
        "name": "ModbusTCPServer",
        "topic": "Topic",
        "dataType": "HoldingRegister",
        "adr": "0",
        "quantity": "4",
        "rate": "1",
        "rateUnit": "s",
        "server": "eced995786eb957a",
        "ieeeType": "off",
        "ieeeBE": true,
        "x": 390,
        "y": 340,
        "wires": [
            [
                "5955655738620ba2",
                "ef70f7dfd6bfb5d9"
            ]
        ]
    },
    {
        "id": "5955655738620ba2",
        "type": "debug",
        "z": "b8ff6b3eb8881b12",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 400,
        "wires": []
    },
    {
        "id": "79516beb638c7e6b",
        "type": "inject",
        "z": "b8ff6b3eb8881b12",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 340,
        "wires": [
            [
                "275f2703e015244c"
            ]
        ]
    },
    {
        "id": "9c9bd1b854fb986f",
        "type": "mqtt out",
        "z": "b8ff6b3eb8881b12",
        "name": "MQTT Broker",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "c015ce0f8fb8a995",
        "x": 880,
        "y": 340,
        "wires": []
    },
    {
        "id": "ef70f7dfd6bfb5d9",
        "type": "function",
        "z": "b8ff6b3eb8881b12",
        "name": "Map Modbus to MQTT",
        "func": "var messages = [];\nfor (var i = 0; i < msg.payload.length; i++) {\n    messages.push({\n        topic: \"modbus/register\" + i,\n        payload: msg.payload[i]\n    });\n}\nreturn [messages];",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 340,
        "wires": [
            [
                "9c9bd1b854fb986f"
            ]
        ]
    }
]